<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>List of Asian Restaurants</title>
	</head>
	<body>
		<h1>List of Asian Restaurants</h1>
		<table>
			<tr th:each="restaurant : ${restauDataOut}">
				<td>
					<a
						th:href="@{/api/restaurant/{id}(id=${restaurant})}"
						th:text="${restaurant}"></a>
				</td>
			</tr>
		</table>
		<button onclick="window.history.back()">Back</button>
	</body>
</html>
